@import url('normalize.css');
@import url('styles/typography.css');

main {
  width: 960px;
  margin: 0 auto;
}

.main-header-img {
  background: url('images/pexels-photo-358482.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 260px;
}

nav ul {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 0;
}

/* Navigation */
.main-navigation {
  margin-top: .5em;
  position: relative;
}

.main-navigation:after {
  content: '';
  width: 60%;
  left: 20%;
  right: 20%;
  display: block;
  position: absolute;
  height: 60%;
  box-shadow: 8px 9px 20px 10px currentColor;
  top: 0%;
  z-index: -1;
  border-radius: 50%;
}

.main-navigation ul li {
  text-transform: uppercase;
  background: #eee;
  border: 1px solid transparent;
  z-index: 101;
  transition: transform 0.6s 1s ease-out;
}

.main-navigation li:hover {
  background: lavender;
  transform: scale(1.05);
  z-index: 102;
  border: 1px solid #cacaca;
  /* box-shadow: 0px 0px 0px 1px #afafaf; */
}

.main-navigation ul li {
  box-sizing: border-box;
  position: relative;
}

.main-navigation li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: .5rem 0;
  text-shadow: 1px 1px 2px grey;
}

/* Navigation - First Level */

.main-navigation>ul {
  /* display: inline-block HACK! */
  font-size: 0;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}

.main-navigation>ul>li {
  display: inline-block;
  vertical-align: top;
}

.main-navigation>ul>li:not(:last-child) {
  border-right: 1px solid #afafaf;
}

.main-navigation>ul>li {
  font-size: 1rem;
  width: calc(25% - 0.9px);
}

.main-navigation>ul>li:first-child {
  background: linear-gradient(90deg, white 60%, #eee);
}

.main-navigation>ul>li:last-child {
  background: linear-gradient(240deg, white 60%, #eee);
}

/* Navigation - Second Level */

.main-navigation ul li ul li {
  border-top: 1px solid #afafaf;
}

/* Expand down */
.main-navigation ul li {
  perspective: 500px;
}

.main-navigation ul li ul {
  /* max-height: 0;
  height: auto; */
  /* transition: max-height 1s ease-out; */
  position: absolute;
  width: 100%;
  visibility: hidden;
  transition: transform 1s ease-out;
  transform-origin: left top;
  transform: rotateX(90deg);
}

/* Expand child list on hover */
.main-navigation ul li:hover>ul {
  transform: rotateX(0deg);
  max-height: 600px;
  visibility: visible;
}

/* Expand to the right */
.main-navigation ul li ul li ul {
  left: 100%;
  top: 0;
}


.article-navigation {
  float: right;
  margin-left: 20px;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 1.414em 30px;
  border: 1px dotted #cacaca;
  box-shadow: 8px 9px 5px 2px #9C27B0;
  border-radius: 5px 30px 15px 20px;
  transform: translate(0px, -10px) rotate(10deg) skewX(-10deg);
  background: #fff;
}

.article-navigation h3 {
  margin: 0;
}

article {
  width: 700px;
  float: left;
}

article p:first-letter {
  font-size: 1.6em;
}

article p:first-line {
  color: #8d2020;
}

::selection {
  background: hotpink;
}

article h2 {
  border-bottom: 1px solid #cacaca;
}

p img.image-left {
  float: left;
  margin-right: 10px;
}

.sidebar {
  width: 260px;
  vertical-align: top;
  float: right;
}

.advertisement {
  padding: 0 40px;
}

footer {
  clear: both
}


/* Toaster */

.toaster {
  position: fixed;
  width: 200px;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  transform: translateX(500px);
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #efaaef;
  padding: 1em;
}

@keyframes toast-enter {
  0% {
    transform: translateX(400px);
  }

  25% {
    transform: translateX(0px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.toast-enter {
  animation: toast-enter .5s 1s ease-in;
  animation-fill-mode: forwards;
}

.toast-in {
  transform: translateX(0px);
}

.toast-leave {
  animation: toast-enter .5s 1s ease-out reverse;
  /* animation-direction: reverse; */
  animation-fill-mode: forwards;
}



@keyframes spinner {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

.loader{
  width: 20px;
  height: 20px;
  border: 3px solid blue;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: .5s spinner infinite ease-out;
  margin:2em auto;
}
