
@import url('../normalize.css');
@import url('typography.css');



.main-navigation,
.article-navigation,
.toaster {
  display: none;
}

.article-navigation {
  float: right;
  margin-left: 10px;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 1.414em 30px;
  border: 1px dotted #cacaca;
  border-radius: 5px 30px 15px 20px;
  background: #fff;
}

p img.image-left {
  float: left;
  margin-right: 10px;
}


p {
  page-break-inside: avoid;
}

.sidebar {
  page-break-before: always;
}

a[href]::after {
  content: ' ( 'attr(href) ' )';
  color: gainsboro;
  font-size: 0.8em;
}

@page :left {
  margin-left: 2cm;
}

@page :right {
  margin-right: 2cm;
}

 
@page {
  counter-increment: page 1;
}

footer {
  position: fixed;
  bottom: 0cm;
}

footer::after {
  content: counter(page) "/" counter(pages);
}