@import url('../normalize.css');
/* https://type-scale.com/ - Major Second */

html {
  font-size: 1.1em;
}

body {
  font-family: 'Crimson Text', serif;
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}


h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

small,
.font_small {
  font-size: 0.889em;
}

main {
  margin: 0px 1em;
}

p {
  margin-bottom: 1.3em;
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}

@media screen and (min-width: 425px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
}


@media screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }

  main {
    max-width: 768px;
  }

  h1 {
    margin-top: 0;
    /* font-size: 3.157rem; */
    font-size: 4.157vw;
  }

  h2 {
    font-weight: bold;
    margin: 1.414em 0 0.5em;
    font-size: 2.369rem;
  }

  h3 {
    font-size: 1.777rem;
  }

  h4 {
    font-size: 1.333rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.gallery,
.advertisement {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-evenly;
}

.gallery figure {
  margin: 0;
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%; */
  flex: 0 1 25%;
}

.gallery figure img {
  width: 100%;
}

.advertisement img {
  flex: 1;
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {

  .gallery,
  .advertisement {
    flex-direction: row;
  }
}

@media screen and (min-width:768px) and (orientation:landscape),
screen and (min-width:1024px) {

  .content {
    flex-direction: row;
  }

  article {
    flex: 1 1;
  }

  .sidebar {
    width: 200px;
    margin-left: 20px;
  }

  .gallery,
  .advertisement {
    align-items: flex-end;
  }
}

/* === */
.main-navigation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.main-navigation>ul li:first-child {
  flex: 1;
}

.main-navigation>ul li {
  flex: 0 1;
  border: 1px solid #acacac;
}

.main-navigation li a {
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  padding: .5em 1em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

@media screen and (min-width:768px) {
  .main-navigation>ul {
    flex-direction: row;
  }
}

@media screen and (pointer:coarse) {
  .main-navigation li a {
    pointer-events: none
  }
}

.main-navigation li ul {
  display: none;
}

.main-navigation li:hover>ul {
  display: flex;
}


.article-navigation

/* ,.main-navigation ul ul  */
  {
  display: none;
}

.image-left {
  float: left;
  margin-right: 1em;
}