html{
  font-size: 15px;
}

body {
  font-family: 'Crimson Text', serif; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}


h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157rem;
}

h2 {
  font-weight: bold;
  font-size: 2.369rem;
}

h3 {
  font-size: 1.777rem;
}

h4 {
  font-size: 1.333rem;
}

small,
.font_small {
  font-size: 0.75rem;
}

p {
  margin-bottom: 1.3rem;
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}